:root {
  --fb-o: rgba(67, 115, 185, 0.7);
  --fb: rgba(67, 115, 185, 1);
  --tw-o: rgba(56, 161, 243, 0.7);
  --tw: rgba(56, 161, 243, 1);
  --li-o: rgba(2, 103, 154, 0.7);
  --li: rgba(2, 103, 154, 1);
  --em-o: rgba(139, 145, 172, 0.7);
  --em: rgba(139, 145, 172, 1);
}
