* {
    box-sizing: border-box;
    margin: 0;
    &::after,
    &::before{
        box-sizing: inherit;
        margin: 0;
    }
}

html {
    font-size: 16px;
    color: #1f1f1f;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Merriweather', serif;
    &.code{
        font-family: 'Ubuntu Mono', monospace;
    }
}

.container {
    width: 100%;
    padding: 0 20px;
    margin: 30px auto 0 auto;
    max-width: 768px;
}
  
.title {
    text-align: center;
    font-size: 3em;
}