* {
  box-sizing: border-box;
  margin: 0;

  &::after,
  &::before {
    box-sizing: inherit;
    margin: 0;
  }
}

html {
  font-size: 16px;
  color: #1f1f1f;
}

h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Merriweather', serif;
}

input {
  font-family: 'Ubuntu Mono', monospace;
}
